.new-main {
  .new-block {
    width: 700px;
    margin: 0 auto;
    background: #fff;
    .new-container {
      .new-main-head {
        padding: 30px 20px;
        font-size: 22px;
        text-align: center;        
      }
    }
  }
}
// #7FD4B5