#top {
  position: relative;
  background-image: url("/images/portfolio.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  .intro-header {
    color: #fff;
    height: 30vh;
    margin: 0 auto;
    .intro-header-logo {
      font-size: 5vw;
      color: #fff;
      font-family: 'Caveat', cursive;
      float: left;
      margin: 4vw 0 0 8vw;
    }
    .intro-header-nav {
      font-family: 'Caveat', cursive;
      font-size: 2.5vw;
      color: #fff;
      float: right;
      margin: 100px 300px 0 0;
      li {
        float: left;
        margin: 0 20px;
      }
      a {
        text-decoration: none;
      }
      a:visited {
        color: #fff;
      }
    }
  }
  .intro-content {
    margin: 2vw 0 0 10vw;
    .intro-heading {
      font-size: 7vw;
      line-height: 1;
      color: #fff;
      font-family: 'Bitter', serif;
      margin-bottom: 50px;
    }
    .intro-about {
      font-size: 16px;
      color: #fff;
    }
    .mu-link {
      display: flex;
      .mercari-link {
        background-color: #FF6461;
        color: #ffffff;
        font-size: 30px;
        font-family: 'Caveat', cursive;
        width: 185px;
        display: block;
        text-align: center;
        line-height: 50px;
        margin: 20px 0 0 20px;
        border-radius: 5px;
        border: 3px solid #FF6461;
      }
      .mercari-link:hover {
        text-decoration: none;
        background-color: #fff;
        color: #FF6461;
      }
      .garden-link {
        margin: 24px 0 0 20px;

      }
    }
  }
  .intro-footer {
    text-align: center;
    color: #fff;
    padding: 100px 0 0;
    width: 100%;
    height: 100px;
    small {
      font-size: 12px;
    }
  }
}
#works {
  height: 103vh;
  background-color: #fff;
  color: #333;
  text-align: center;
  .works-container {
    padding: 80px 30px;
    .works-title {
      display: inline;
      margin: 30px 0 15px;
      font-size: 8vh;
      border-bottom: double 4px #333;
      padding-bottom: 10px;
      letter-spacing: 2px;
      font-weight: bold;
    }
    .works-wrap {
      width: 980px;
      margin: 50px auto;
      position: relative;
      .first-image {
        float: left;
      }
      a:hover img {
        opacity: 0.5;
      }
      .first-about {
        text-align: left;
        position: absolute;
        left: 230px;
        &__app-name {
          font-size: 2rem;
        }
        &__app-detail {
          font-size: 0.8rem;
          padding-left: 10px;
          line-height: 2.5rem;
          li {
            line-height: 2.5rem;
          }
        }
      }
      .second-image {
        position: absolute;
        top: 240px;
        right: 0px;
      }
      .second-about {
        position: absolute;
        top: 240px;
        right: 230px;
        text-align: right;
        &__app-name {
          font-size: 2rem;
          text-align: right;
        }
        &__app-detail {
          font-size: 0.8rem;
          padding-right: 10px;
          li {
            line-height: 2.5rem;
          }
        }
      }
    }
  }
}

#about {
  height: 100vh;
  background-color: #4169e1;
  color: #fff;
  text-align: center;
  .about-container {
    padding: 10vh 7vh;
    .about-title {
      display: inline-block;
      margin: 30px 0 15px;
      font-size: 8vh;
      color: #fff;
      border-bottom: double 4px #fff;
      padding-bottom: 10px;
      letter-spacing: 2px;
      font-weight: bold;
    }
    .about-detail {
      display: flex;
      margin-top: 50px;
      padding: 20px 190px;
      &__photo {
        padding-left: 30px;
        float: left;
        &--icon {
          border-radius: 50%;
        }
      }
      &__right {
        float: right;
        padding-left: 100px;
        text-align: left;
        line-height: 2.5rem;
        width: 600px;
        font-size: 0.8rem;
      }
    }
  }
}


