#top {
  position: relative;
  background-image: url("/images/portfolio.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  .intro-header {
    color: #ffffff;
    height: 200px;
    margin: 0 auto;
    .intro-header-logo {
      font-size: 50px;
      color: #fff;
      font-family: 'Caveat', cursive;
      float: left;
      margin: 50px 0 0 120px;
    }
  }
  .intro-content {
    margin: 50px 0 0 120px;
    .intro-heading {
      font-size: 100px;
      line-height: 1;
      color: #fff;
      font-family: 'Bitter', serif;
      margin-bottom: 50px;
    }
    .intro-about {
      font-size: 16px;
      color: #fff;
    }
    .mu-link {
      display: flex;
      .mercari-link {
        background-color: #FF6461;
        color: #ffffff;
        font-size: 30px;
        font-family: 'Caveat', cursive;
        width: 185px;
        display: block;
        text-align: center;
        line-height: 50px;
        margin: 20px 0 0 20px;
        border-radius: 5px;
        border: 3px solid #FF6461;
      }
      .mercari-link:hover {
        text-decoration: none;
        background-color: #fff;
        color: #FF6461;
      }
      .garden-link {
        margin: 24px 0 0 20px;

      }
    }
  }
  .intro-footer {
    text-align: center;
    color: #fff;
    padding: 100px 0 0;
    width: 100%;
    height: 100px;
    small {
      font-size: 12px;
    }
  }
}


