.wrapper {
  font-family: 'din-condensed', "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic Pro", "Meiryo", verdana, "Osaka", "MS PGothic", Sans-Serif;
  display: flex;
  .main-header {
    background: gray;
    width: 280px;
    height: 980px;
    flex-direction: column;
    position: fixed;
    &__myPage {
      font-size: 1.6rem;
      text-align: center;
      cursor: pointer;
    }
  }
  .main-content {
    width: 100%;
    .calender {
      float: right;
      padding: 30px 48px;
      .calender-data {
        font-size: 2.4rem;
      }
      .calender-day {
        font-size: 1.3rem;
        display: block;
        background-color: black;
        color: white;
        padding-top: 0.3rem;
        text-align: right;
      }
    }
  }
}
