body {
  font-family: Hiragino Kaku Gothic ProN;
  .main-header {
    background: f5f5f5;
    width: 100%;
    margin: 0 auto;
    width: 70%;
    height: 100px;
    &__top-half {
      background-color: gray;
      height: 50%;
    }
    &__bottom-half {
      background: red;
      height: 50%;
    }
  }
}