body {
  background-image: url(aa.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: 100% auto;
  color: #ffffff;
  font-size: 15px;
  line-height: 2;
  font-family: 'Blinker', 'M PLUS 1p', sans-serif;
}
a {
  color: #ffffff;
  text-decoration: none;
}
header {
  width: 960px;
  height: 100px;
  margin: 0 auto;
  .logo {
    float: left;
    margin-top: 20px;
  }
  .header-nav {
    float: right;
    margin-top: 60px;
    li {
      // font-family: 'Blinker', sans-serif;
      float: left;
      margin: 0 20px;
      font-size: 18px;
      a:hover {
        border-bottom: 1px solid #ffffff;
        padding-bottom: 7px;
        text-decoration: none;
      } 
    }
  }
}