%body.login-header-wrap
  .header-body
    %header.top-page-head
      .top-page-logo
        =link_to image_tag("/images/logo.png", width: '165px', height: '49px', alt: "Garden"),root_path
      %nav
        %ul.header-nav
          %li 
            =link_to "MyPage","#"
          %li 
            =link_to "MyFamily","#"
            %ul.add
              %li.add
                =link_to "aaa","#"
          %li
            =link_to "ContactNote","#"
      .add-c
        =link_to "-- Add Your Child","#" 


