%body.introduction
  %section#top
    %header.intro-header
      .intro-header-logo Portfolio
    .intro-wrap
      .intro-content
        %h1.intro-heading
          Everything is practice,
          %br
            Try! Try!
        %p.intro-about
          このWebサイトは、自身で制作したアプリケーションを紹介するポートフォリオサイトです。
          %br
            クリックすると各アプリケーションへ移動できます。作成途中のアプリケーションもあります。ご容赦ください。
        %ul.mu-link
          %li.mercari-link 
            = link_to 'Freemarket', 'http://3.114.73.8/'
          %li.garden-link 
            =link_to image_tag("/images/white-logo.png", width: '165px', height: '49px', alt: "Garden"),root_path
    %footer.intro-footer
      %small 2020 portfolio by Ayano
  %section#about
    .about-container
      %h2.about-title About me
      .about-detail
        .about-detail__photo
        = image_tag("/images/myimage.jpeg", size: "250x250", alt: "顔写真")
        .about-detail__right 愛知県出身の会社員。プログラミングは2019年6月頃から始めました。短大は保育科、3年次編入をした4年制大学にて広告について学びました。営業職として就職後、念願海外へ。インド→オーストラリア→マレーシア→台湾を周りたくさんの人に助けられながら半年後に帰国。帰国後は、キャッシュレス決済に関わる会社にて事務職として現在まで勤務してきました。ものづくりに興味をにひかれ、IT業界への転職を目指して日々勉強中。
  %section#works
    .works-container
      %h2.works-title works
      .works-wrap
        .first Freemarket
          .first__about
            ・概要：フリーマーケットアプリ。個人間での物品販売が可能。
            ・開発環境：ruby2.5.1/Rails5.0.7.2/MySQL5.6/Haml/Scss/jQuery//GitHub/AWS
            ・4人でのチーム開発
                担当箇所：DB設計、商品出品に関わる開発
        .second Garden
          .second__about
            ・概要：保育ホーム検索アプリ(開発途中)。
            ・開発環境：ruby2.5.1/Rails5.2.4/MySQL5.6/Haml/Scss/jQuery//GitHub/AWS
    %section#contact








-# <a href="https://pixabay.com/ja/users/AndisBilderwerkstatt-5921373/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2717347">Andreas Wohlfahrt</a>による<a href="https://pixabay.com/ja/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2717347">Pixabay</a>からの画像