%body.introduction
  %header.intro-header
    .intro-header-logo Portfolio
  .intro-wrap
    .intro-content
      %h1.intro-heading
        Everything is practice,
        %br
          Try! Try!
      %p.intro-about
        このWebサイトは、自身で制作したアプリケーションを紹介するポートフォリオサイトです。
        %br
          クリックすると各アプリケーションへ移動できます。作成途中のアプリケーションもあります。ご容赦ください。
      %ul.mu-link
        %li.mercari-link 
          = link_to 'Freemarket', 'http://3.114.73.8/'
        %li.garden-link 
          =link_to image_tag("3_White_logo_on_color1_212x69.png", width: '165px', height: '49px', alt: "Garden"),root_path
  %footer.intro-footer
    %small 2020 portfolio by Ayano








-# <a href="https://pixabay.com/ja/users/AndisBilderwerkstatt-5921373/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2717347">Andreas Wohlfahrt</a>による<a href="https://pixabay.com/ja/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2717347">Pixabay</a>からの画像