%main.new-main
  %section.new-block
    .new-container
      %h2.new-main-head 保育ホームの情報を入力

























-# %a{:href => "https://pixabay.com/ja/users/4144132-4144132/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2258681"}> 4144132
-# による
-# %a{:href => "https://pixabay.com/ja/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=2258681"}> Pixabay
-# からの画像を使用しています。
